body{
   background-image: url('background.jpg');
   background-size: cover;
   background-position: center;
   background-size: 100%;
   align-items: center;
   justify-content: center;
   margin: 0;

}


#click{
   gap: 20px;
   padding: 20px;
   align-items: center;
   justify-content: center;
   display: flex;
   margin: 0;
   animation: fade;
   list-style-type: none;
   color: white;
   text-decoration: none;
   border: 10px black;


}




.click ul{
   list-style-type: none;
   border: 5px black;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   text-align: center;
   background-color: hsl(0, 0%, 5%, 0.5);

}

.click a{

   font-size: 2.5rem;
   font-weight: bold;
   cursor: pointer;
   border: none;
   animation: fade;
   animation-duration: 1.5s;
   list-style-type: none;
   color: white;
   text-decoration: none;
   border: 5px black;
}

.click a:hover{
   text-shadow: 0 1px 5px white;

}
.click a:hover{
   text-shadow: 0 2px 20px white;

}



.slider{
   position: relative;
   width: 100%;
   margin: auto;
   overflow: hidden;
   animation: fade;
   animation-duration: 1.5s;
   position: absolute;
}

.welcome{
   animation: fall 1s ease-in-out; 
   display: flex;
   flex-direction: row;
   font-size: 4rem;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: rgba(255, 255, 255, .1);
   backdrop-filter: blur(30px);
   border: 2px solid rgba(255, 255, 255, .2);
   border-radius: 20px;
}

.p{
   animation: fall 1s ease-in-out; 
   font-size: 2rem;
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, .1);
   backdrop-filter: blur(30px);
   border: 2px solid rgba(255, 255, 255, .2);
   border-radius: 10px;
}

.projects{
   animation: fall 1s ease-in-out; 
   font-size: 2rem;
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, .03);
   backdrop-filter: blur(10px);
   border: 2px solid rgba(255, 255, 255, .2);
   border-radius: 10px;
}


.me{
   width: 333px;
   height: 444px;
   border-radius: 20px;
}

.translate{
   animation: fall 1s ease-in-out; 
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   overflow: hidden;

}

.slider img{
   width: 500px;
   height: 250px;
   justify-content: center;
   margin: auto;
   display: none;
   border-radius: 10px;
   box-shadow: 0px 3px 20px black, -0px 3px 20px black;
   animation: fade;
   animation-duration: 1.5s;
   align-items: center;
   

}


img.displaySlide{
   border: 10px black;
   display: block;
   animation: fade;
   animation-duration: 1.5s;
}

img.displaySlide:hover{
   box-shadow: 0px 3px 50px black;
   width: 510px;
   height: 255px;
}

.slider button{
   position: absolute;
   top: 35%;
   font-size: 2rem;
   background-color: hsla(0, 0%, 0%, 0.5);
   padding: 10px 15px;
   color: white;
   border: none;
   cursor: pointer;
   animation: fade;
   animation-duration: 1.5s;
   
}

.prev{
   left: 550px;
}

.next{
   right: 550px;

}

@keyframes fade {
   from {opacity: .1;}
   to {opacity: 1;}
}

@keyframes afade {
   from {opacity: 1;}
   to {opacity: .5;}
}

@keyframes fall {
   0% {
     transform: translateY(-100%);
   }
}


@keyframes move {
   0% {
     transform: translatey(-100%);
   }
   100% {
     transform: translatey(0%);
   }
 }




.slider button:hover{
   font-size: 2.25rem;
   box-shadow: 0px 5px 20px black;
   background-color: hsla(0, 0%, 0%, 0.6);
}

.slider button:active{
   font-size: 2.5rem;
   box-shadow: 0px 5px 30px black;
   background-color: hsla(0, 0%, 0%, 0.7);
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
 }
 
 li {
   float: left;
   border-right:1px solid #bbb;
 }
 
 li:last-child {
   border-right: none;
 }
 
 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 li a:hover:not(.active) {
   background-color: hsl(0, 0%, 5%, 0.6)
 }
 
 li.active {
   background-color: #04AA6D;
 }
