#click{
   display: grid;
   grid-template-columns: (10, 1fr);
   gap: 20px;
   padding: 20px;
   align-items: center;
   justify-content: center;
   display: flex;
   margin: 0;


}


body{
   background-image:url(https://i.ytimg.com/vi/WQjpiLBIkuE/maxresdefault.jpg);
   background-size: 100%;
   align-items: center;
   justify-content: center;
   margin: 0;

}




.apple{
   width: 300px; 
   height: 75px;
   border-radius: 10px;
   color: rgb(0, 0, 0);
   background-color: hsl(0, 0%, 11%);
   font-size: 3rem;
   font-weight: bold;
   cursor: pointer;
   border: none;
   box-shadow: 0px 3px 20px;
}



.apple:hover{
   background-color: hsl(0, 0%, 15%);
   font-size: 3.25rem;
   box-shadow: 0px  3px 15px purple;
}

.apple:active{
   background-color: hsl(0, 0%, 20%);
   font-size: 3.5rem;
   box-shadow: 0px 3px 20px purple;
}


.slider{
   position: relative;
   width: 100%;
   margin: auto;
   overflow: hidden;
}

.slider img{
   width: 1000px;
   height: 500px;
   justify-content: center;
   margin: auto;
   display: none;
   border-radius: 10px;
   box-shadow: 0px 3px 20px black;
}


img.displaySlide{
   border: 10px black;
   display: block;
   animation: fade;
   animation-duration: 1.5s;
}

img.displaySlide:hover{
   box-shadow: 0px 3px 50px black;
}

.slider button{
   position: absolute;
   top: 50%;
   font-size: 2rem;
   background-color: hsla(0, 0%, 0%, 0.5);
   padding: 10px 15px;
   color: white;
   border: none;
   cursor: pointer;
   
}

.previous{
   left: 0;
}
.next{
   right: 0;
}

@keyframes fade {
   from {opacity: .5;}
   to {opacity: 1;}
}

@keyframes afade {
   from {opacity: 1;}
   to {opacity: .5;}
}


.slider button:hover{
   font-size: 2.25rem;
   box-shadow: 0px 5px 20px black;
   background-color: hsla(0, 0%, 0%, 0.6);
}

.slider button:active{
   font-size: 2.5rem;
   box-shadow: 0px 5px 30px black;
   background-color: hsla(0, 0%, 0%, 0.7);
}

